<div class="row">
  <div class="twelve columns">
    <h1>Edit Party</h1>
  </div>
</div>
<div class="row">
  <%= form_for @party do |f| %>
  <div class="three columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="three columns">
    <%= f.label :guests %>
    <%= f.number_field :guests %>
  </div>
  <% end %>
  <%= form_for @table do |t| %>
  <div class="three columns">
    <%= t.label :table_number %>
    <%= t.text_field :table_number %>
  </div>
  <% end %>
  <%= form_for @user do |u| %>
  <div class="three columns">
    <%= u.label :username %>
    <%= u.number_field :username %>
  </div>
  <% end %>
  <div class="two columns">
    <%= f.label :submit %>
    <%= f.submit %>
  </div>
  <% end %>
</div>
