<div class="row">
  <div class="twelve columns">
    <h1>Edit Party</h1>
  </div>
</div>
<div class="row">
  <%= form_for @party do |f| %>
  <div class="five columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="five columns">
    <%= f.label :guests %>
    <%= f.number_field :guests %>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <%= f.label :table_number %>
    <%= f.text_field :table_number %>
  </div>
  <div class="four columns">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="three columns">
    <%= f.label :submit %>
    <%= f.submit %>
  </div>
  <% end %>
</div>
