<!-- ADMIN -->
<% if current_user.permission == 3 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/menu_items">Menu Items</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/order_tickets">Order Tickets</a></li>
    </ul>
  </div>

<% end %>

<!-- SERVER -->
<% if current_user.permission == 2 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/order_tickets">Order Tickets</a></li>
    </ul>
  </div>

<% end %>

<!-- CHEF -->
<% if current_user.permission == 1 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/menu_items">Menu Items</a></li>
    </ul>
  </div>

<% end %>

<div class="pure-g">
  <div class="pure-u-1-1">
    <h3>Order Tickets</h3>
  </div>
</div>

<%= form_for @order_ticket, html: {class: "pure-form pure-form-aligned"} do |f| %>
  <fieldset>
    <div class="pure-control-group">
      <%= f.label :party_name %>
      <%= f.collection_select(:party_id, Party.all, :id, :name) %>
    </div>
    <div class="pure-control-group">
      <%= f.label :menu_item %>
      <%= f.collection_select(:menu_item_id, MenuItem.all, :id, :name) %>
    </div>
    <div class="pure-control-group">
      <%= f.submit :class => "pure-button" %>
    </div>
  </fieldset>
<% end %>

<div class="row">
  <ul>
    <% @order_tickets.each do |order_ticket| %>
    <div class="twelve columns">
      <li>

      </li>
    </div>
    <% end %>
  </ul>
</div>
