<!-- ADMIN -->
<% if current_user.permission == 3 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/menu_items">Menu Items</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/order_tickets">Order Tickets</a></li>
    </ul>
  </div>

<% end %>

<!-- SERVER -->
<% if current_user.permission == 2 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/order_tickets">Order Tickets</a></li>
    </ul>
  </div>

<% end %>

<!-- CHEF -->
<% if current_user.permission == 1 %>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/menu_items">Menu Items</a></li>
    </ul>
  </div>

<% end %>

<div class="pure-g">
  <div class="pure-u-1-1">
    <h3>Menu Items</h3>
  </div>
</div>

<%= form_for @menu_item, html: {class: "pure-form pure-form-aligned"} do |f| %>
  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="pure-control-group">
    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => "Description" %>
  </div>
  <div class="pure-control-group">
    <%= f.label :price %>
    <%= f.number_field :price, :placeholder => "Price" %>
  </div>
  <div class="pure-control-group">
    <%= f.submit :class => "pure-button" %>
  </div>
<% end %>

<ul>
  <% @menu_items.each do |menu_item| %>
    <li>
      <div class="pure-u-1-2">
        <%= menu_item.name %>, <%= menu_item.description %>, $<%= menu_item.price %>
      </div>
      <div class="pure-u-1-12">
        <%= button_to "Edit", edit_menu_item_path(menu_item), method: :edit, :class => "pure-button" %>
      </div>
      <div class="pure-u-1-12">
        <%= button_to "Remove", menu_item_path(menu_item), method: :delete, :class => "pure-button" %>
      </div>
    </li>
    <br>
  <% end %>
</ul>
