<div class="container">

  <div class="row">
    <div class="twelve columns">
      <h3>Server Log In</h3>
    </div>
  </div>

  <div class="row" id="main-menus">
    <div class="twelve columns">
      <a class="button" href="/">Home</a>
    </div>
  </div>

  <div class="row">
    <%= form_tag sessions_path do %>
    <div class="four columns">
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, :placeholder => "Username" %>
    </div>
    <div class="four columns">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :placeholder => "Password" %>
    </div>
    <div class="two columns">
      <%= label_tag :submit %>
      <%= submit_tag "Log In" %>
    </div>
    <% end %>
  </div>

</div>
