<div class="row">
  <div class="twelve columns">
    <h1>New User</h1>
  </div>
</div>
<div class="row">
  <%= form_for @user do |f| %>
  <div class="four columns">
    <%= f.label :username %>
    <%= f.text_field :username, :placeholder => "Username" %>
  </div>
  <div class="four columns">
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="two columns">
    <%= f.label :submit %>
    <%= f.submit %>
  </div>
  <% end %>
</div>
